/* General font settings */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 81%, 0.4) 0px,
      transparent 50%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 82%, 0.4) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 81%, 0.4) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 87%, 0.4) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 84%, 0.4) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 93%, 0.4) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 89%, 0.4) 0px, transparent 50%);
  filter: saturate(60%);
  opacity: 0.9;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

html, body {
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.App {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 640px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  position: relative;
  z-index: 1;
  margin: 20px 0;
}

/* iPhone-like input and button styles */
.mood-name, .app-path {
  margin-bottom: 10px;
  padding: 10px;
  width: 80%;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  transition: border-color 0.3s ease;
}

.mood-name:focus, .app-path:focus {
  border-color: #007bff;
}

.add-app-button,
.add-mood-button,
.generate-script-button,
.download-script-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: white;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.add-app-button:hover,
.add-mood-button:hover,
.generate-script-button:hover,
.download-script-button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.mood-group {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
}

.apps-group {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.script-output {
  margin: 20px auto;
  padding: 15px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 600px;
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
/* src/Footer.css */
.footer {
  background-color: #f8f9fa; /* iPhone-like light gray background */
 
  text-align: center;
  padding: 20px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.social-links {
  margin: 10px 0;
}

.social-links a {
  margin: 0 15px;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-flex;
  align-items: center;
}

.social-links a i {
  margin-right: 8px;
}


.social-links a.linkedin-icon {
  color: #0077b5;
}

.social-links a.twitter-icon {
  color: #1da1f2;
}

.social-links a.youtube-icon {
  color: #ff0000;
}

.social-links a:hover {
  text-decoration: underline;
}

.app-logo {
  width: 150px; /* Adjust the width as needed */
  margin-bottom: -30px; /* Adjust the margin as needed */
}
